<form>
  <input name="qty" id="custom1" type="number" min="1" style="margin-left:-70px;font-weight:500;font-size:20px">
  <input name="price" id="custom2" type="text" style="margin-top:30px;border-radius:7px;border:none;display:none" value="{{data.MRP}}"><br>
  <input name="total" id="custom3" style="font-weight:500;font-size:20px" placeholder="Total price">
  <input name="user" type="hidden" style="font-weight:500;font-size:20px" placeholder="Total price" value="{{request.session.Login_Name}}">
  <input name="pname" type="hidden" style="font-weight:500;font-size:20px" placeholder="Total price" value="{{data.Product_Name}}">
  <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>-->
  <button class="btn btn-primary" style="margin-top:50px">Add to cart</button>
</form>
